@model Presupuestos

@{
    ViewData["Title"] = "Home Page Presupuestos";
}


<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Presupuestos</title>
</head>
<body>
    <h1>Presupuestos</h1>
</body>
</html>